@font-face {
  font-family: 'white_sugarregular';
  src: url('fuentes/white_sugar-webfont.woff2') format('woff2'),
    url('fuentes/white_sugar-webfont.woff') format('woff'),
    url('fuentes/fuentes/fuentes/white_sugar-webfont.otf') format('otf');

  font-weight: normal;
  font-style: normal;

}

#titulo3 {
  color: rgba(27, 27, 25, 0.8);
  font-size: 30px;
  font-family: "white_sugarregular";
}

 
