:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header{
  text-align: center;
  background: #28d0e6;
  color: black;
}

footer{
  text-align: center;
}
 
#navegacion{
  text-align: center;
  margin-bottom: 50px;
}

#navegacion a{
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

#navegacion a:hover {
  background-color: white;
  color:#242424;
}